soa/LdapExampleApp/LdapProjectForCompareAndAuthentication/SOA/Schemas/LdapBpelProcessForCompare.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified"
        targetNamespace="http://xmlns.oracle.com/LdapExampleApp/LdapProjectForCompareAndAuthentication/LdapBpelProcessForCompare"
        xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="process">
        <complexType>
            <sequence>
                <element name="uid" type="string"/>
                <element name="userPassword" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="processResponse">
        <complexType>
            <sequence>
                <element name="result" type="boolean"/>
            </sequence>
        </complexType>
    </element>
</schema>