soa/LdapExampleApp/LdapProjectForSearch/SOA/Schemas/LdapBpelProcessForSearch.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/LdapExampleApp/LdapProjectForSearch/LdapBpelProcessForSearch"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="uid" type="string"/>
			</sequence>
		</complexType>
	</element>
	<element name="processResponse">
		<complexType>
			<sequence>
				<element name="userPassword" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>